<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.giga.gw.dto.ApprovalCategoryDto" alias="approvalCategoryDto"/>
		<typeAlias type="com.giga.gw.dto.ApprovalFormDto" alias="approvalFormDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/Employee_Mapper.xml"/>
		<mapper resource="mapper/Approval_Mapper.xml"/>
		<mapper resource="mapper/Department_Mapper.xml"/>
		<mapper resource="mapper/ApprovalCategory_Mapper.xml"/>
		<mapper resource="mapper/ApprovalForm_Mapper.xml"/>
	</mappers>
</configuration>
