<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.giga.gw.repository.ApprovalDaoImpl">
  <!-- 부서 목록 가져오기 -->
    <select id="getDepartments" resultType="map">
 	SELECT DEPTNO AS "id", DEPTNAME AS "text", NVL(PARENT_DEPTNO,'#') AS "parent"
        FROM DEPARTMENTS
        WHERE USE_YN = 'Y'
    </select>

    <!-- 부서별 사원 목록 가져오기 -->
    <select id="getEmployeesByDepartment" resultType="map">
        SELECT EMPNO AS "id", NAME AS "text", DEPTNO AS "parent"
        FROM EMPLOYEES
        ORDER BY DEPTNO ASC
    </select>
    <!-- JSTREE 쿼리  -->
    <select id="getOrganizationTree" resultType="map">
   SELECT DEPTNO AS "id", DEPTNAME AS "text", NVL(PARENT_DEPTNO,'#') AS "parent", 'https://cdn2.iconfinder.com/data/icons/business-1407/32/office_team_teamwork_business_partnership-01-16.png' AS "icon"
        FROM DEPARTMENTS
        WHERE USE_YN = 'Y'
	UNION ALL	
	SELECT TO_CHAR(EMPNO) AS "id", NAME || '('|| JOB_TITLE ||')' AS "text", DEPTNO AS "parent", 'https://cdn2.iconfinder.com/data/icons/web-line-2/32/user-16.png' AS "icon"
		FROM EMPLOYEES t1 
		LEFT JOIN (SELECT JOB_ID, JOB_TITLE FROM JOBS) t2
		ON t1.JOB_ID = t2.JOB_ID
		ORDER BY "parent" ,"id"
    </select>	
    <!-- 에디터 저장 -->
    <insert id="editorSave">
    	INSERT INTO APPROVAL(APPROVAL_ID, FORM_ID, EMPNO, APPROVAL_TITLE, APPROVAL_CONTENT, CREATE_DATE, APPROVAL_STATUS)
    	VALUES ('APP005','HR001','2501001','테스트',#{content},CURRENT_DATE,'ST01')
    </insert>
    <!-- 에디터 불러오기 -->
    <select id="editorRead" resultType="String">
    	SELECT APPROVAL_CONTENT FROM APPROVAL WHERE APPROVAL_ID = 'APP005'
    </select>
    
    <!-- 양식별 사용중인 결재문서 갯수 -->
    <select id="countApproval" resultType="Integer">
    	SELECT COUNT(*) FROM APPROVAL WHERE FORM_ID = #{form_id}
    </select>
	
	<select id="selectApprovalById" resultType="approvalDto" parameterType="String">
		SELECT APPROVAL_ID, APPROVAL_TITLE, APPROVAL_CONTENT , APPROVAL_DEADLINE, UPDATE_DATE, UPDATE_EMPNO 
			FROM APPROVAL
			WHERE APPROVAL_ID = #{approval_id}
	</select>
	    
    <!-- 결재문서 작성 -->
    <insert id="insertApproval" parameterType="approvalDto">
    	<selectKey keyProperty="approval_id" resultType="String" order="BEFORE">
	    	SELECT (#{form_id}) ||
			            ('DOC' || LPAD(NVL(MAX(SUBSTR(APPROVAL_ID, 9)), '0') + 1, 4, '0')) 
		     FROM APPROVAL
    	</selectKey>
    	INSERT INTO APPROVAL ( APPROVAL_ID, FORM_ID, EMPNO,
	    	APPROVAL_TITLE, APPROVAL_CONTENT,  APPROVAL_STATUS, 
	    	APPROVAL_DEADLINE)
    	VALUES (
		    #{approval_id},
		    #{form_id}, 
		    #{empno}, 
		    #{approval_title}, 
		    #{approval_content}, 
		    'ST02', 
		    #{approval_deadline})
    </insert>
    
    <!-- 결재문서 업데이트 -->
    <update id="updateApproval" parameterType="approvalDto">
    	UPDATE APPROVAL 
		SET APPROVAL_TITLE = #{approval_title} , APPROVAL_CONTENT= #{approval_content} , APPROVAL_STATUS = 'ST02',
		APPROVAL_DEADLINE = #{approval_deadline} , UPDATE_DATE = TO_DATE(CURRENT_DATE,'YY-MM-DD') , UPDATE_EMPNO = #{update_empno}
		WHERE APPROVAL_ID = #{approval_id} AND APPROVAL_STATUS IN ('ST01', 'ST02')
    </update>
    
    <!-- 결재문서 회수 -->
    <update id="recallApproval">
    	UPDATE APPROVAL 
		SET TEMP_SAVE_YN = 'Y', APPROVAL_STATUS = 'ST01'
		WHERE APPROVAL_ID = #{approval_id} AND (SELECT COUNT(*) FROM APPROVAL_LINE WHERE APPROVAL_ID = #{approval_id} AND STATUS_ID IN ('ST05','ST02','ST04')) = 0
	</update>
     <!-- TODO 결재양식 트리 -->
   <select id="formTree" resultType="map">
   SELECT CATEGORY_ID AS "id" , CATEGORY_NAME AS "text", '#' AS "parent"  FROM APPROVAL_CATEGORY
	WHERE USE_YN = 'Y'
	UNION ALL 
	SELECT FORM_ID AS "id", FORM_NAME AS "text", CATEGORY_ID AS "parent" FROM APPROVAL_FORM
	WHERE USE_YN = 'Y'
   </select> 
   
    <!-- TODO 결재요청함 selectApproval -->
   <select id="selectApproval" resultType="approvalDto">
   		SELECT APPROVAL_ID, FORM_ID, EMPNO, 
   			CASE APPROVAL_STATUS 
					WHEN 'ST01' THEN '[임시저장]'
					WHEN 'ST02' THEN '[결재대기]'
					WHEN 'ST03' THEN '[진행중]'
					WHEN 'ST04' THEN '[결재완료]'
					WHEN 'ST05' THEN '[결재반려]'
					END || NVL(APPROVAL_TITLE,' ') AS APPROVAL_TITLE , CASE APPROVAL_STATUS 
					WHEN 'ST01' THEN '임시저장'
					WHEN 'ST02' THEN '결재대기'
					WHEN 'ST03' THEN '진행중'
					WHEN 'ST04' THEN '결재완료'
					WHEN 'ST05' THEN '결재반려'
					END AS APPROVAL_STATUS,
   			CREATE_DATE, 
   			NVL(APPROVAL_DEADLINE,CURRENT_TIMESTAMP) AS APPROVAL_DEADLINE,TEMP_SAVE_YN 
   		FROM APPROVAL
   		WHERE EMPNO = #{empno} AND USE_YN = 'Y' AND TEMP_SAVE_YN = 'N' AND APPROVAL_STATUS IN ('ST02','ST03')
   </select>
   <select id="selectApprovalTemp" resultType="approvalDto">
   		SELECT APPROVAL_ID, FORM_ID, EMPNO, 
   			CASE APPROVAL_STATUS 
					WHEN 'ST01' THEN '[임시저장]'
					WHEN 'ST02' THEN '[결재대기]'
					WHEN 'ST03' THEN '[진행중]'
					WHEN 'ST04' THEN '[결재완료]'
					WHEN 'ST05' THEN '[결재반려]'
					END || NVL(APPROVAL_TITLE,' ') AS APPROVAL_TITLE , 
   					CASE APPROVAL_STATUS 
					WHEN 'ST01' THEN '[임시저장]'
					WHEN 'ST02' THEN '[결재대기]'
					WHEN 'ST03' THEN '[진행중]'
					WHEN 'ST04' THEN '[결재완료]'
					WHEN 'ST05' THEN '[결재반려]'
					END AS APPROVAL_STATUS,
   			CREATE_DATE, 
   			NVL(APPROVAL_DEADLINE,CURRENT_TIMESTAMP) AS APPROVAL_DEADLINE,TEMP_SAVE_YN 
   		FROM APPROVAL
   		WHERE EMPNO = #{empno} AND USE_YN = 'Y' AND TEMP_SAVE_YN = 'Y' AND APPROVAL_STATUS = 'ST01'
   </select>
    <!-- 결재 대기함 -->
    <select id="selectPendingApprovalDocuments" resultType="approvalDto">
    	SELECT APPROVAL_ID, EMPNO , APPROVAL_TITLE, 
    		TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE , APPROVAL_STATUS, TO_CHAR(APPROVAL_DEADLINE,'YYYY-MM-DD') AS APPROVAL_DEADLINE
			FROM APPROVAL
			WHERE APPROVAL_ID IN (SELECT APPROVAL_ID 
				FROM APPROVAL_LINE
				WHERE APPROVER_EMPNO  = #{empno}
				AND STATUS_ID ='ST02') 
			AND APPROVAL_STATUS != 'ST05'
    </select>
    <!-- 결재 진행함 -->
    <select id="selectApprovalInProgress" resultType="approvalDto">
    SELECT APPROVAL_ID , t2.NAME AS APPROVAL_CONTENT , APPROVAL_TITLE,
				CASE APPROVAL_STATUS 
					WHEN 'ST01' THEN '[임시저장]'
					WHEN 'ST02' THEN '[결재대기]'
					WHEN 'ST03' THEN '[진행중]'
					WHEN 'ST04' THEN '[결재완료]'
					WHEN 'ST05' THEN '[결재반려]'
				END AS APPROVAL_STATUS,
				t1.CREATE_DATE,
				NVL(APPROVAL_DEADLINE, CURRENT_TIMESTAMP) AS APPROVAL_DEADLINE
			FROM APPROVAL t1 JOIN EMPLOYEES t2 
			ON t1.EMPNO = t2.EMPNO 
			WHERE APPROVAL_ID IN (SELECT APPROVAL_ID
					FROM APPROVAL_LINE 
					WHERE APPROVER_EMPNO = #{empno}
					AND STATUS_ID = 'ST04')
			AND APPROVAL_STATUS = 'ST03'
    </select>
    <!-- 완료문서함 -->
    <select id="selectApprovalCompleted" resultType="approvalDto">
   		SELECT APPROVAL_ID, NVL(APPROVAL_TITLE,' ') AS APPROVAL_TITLE, NAME AS APPROVAL_CONTENT,
				CASE APPROVAL_STATUS 
					WHEN 'ST01' THEN '[임시저장]'
					WHEN 'ST02' THEN '[결재대기]'
					WHEN 'ST03' THEN '[진행중]'
					WHEN 'ST04' THEN '[결재완료]'
					WHEN 'ST05' THEN '[결재반려]'
				END AS APPROVAL_STATUS,
				t1.CREATE_DATE,
				NVL(APPROVAL_DEADLINE, CURRENT_TIMESTAMP) AS APPROVAL_DEADLINE
		FROM APPROVAL t1 JOIN EMPLOYEES t2
		ON t1.EMPNO = t2.EMPNO
		WHERE APPROVAL_STATUS = 'ST04'
    </select>
    <select id="selectApprovalRejected" resultType="approvalDto">
    	SELECT 
	    t1.APPROVAL_ID, 
	    CASE t1.APPROVAL_STATUS 
	        WHEN 'ST01' THEN '[임시저장] '
	        WHEN 'ST02' THEN '[결재대기] '
	        WHEN 'ST03' THEN '[진행중] '
	        WHEN 'ST04' THEN '[결재완료] '
	        WHEN 'ST05' THEN '[결재반려] '
	        ELSE ''
	    END || NVL(t1.APPROVAL_TITLE, ' ') AS APPROVAL_TITLE,
	    t2.NAME AS APPROVAL_CONTENT,
	    CASE t1.APPROVAL_STATUS 
	        WHEN 'ST01' THEN '[임시저장]'
	        WHEN 'ST02' THEN '[결재대기]'
	        WHEN 'ST03' THEN '[진행중]'
	        WHEN 'ST04' THEN '[결재완료]'
	        WHEN 'ST05' THEN '[결재반려]'
	        ELSE ''
	    END AS APPROVAL_STATUS,
	    t3.REJECT_REASON AS "APPROVAL_DEADLINE", (SELECT NAME FROM EMPLOYEES WHERE EMPNO = t3.APPROVER_EMPNO) AS "CREATE_DATE"
	    FROM APPROVAL t1
			JOIN EMPLOYEES t2 ON t1.EMPNO = t2.EMPNO
			JOIN APPROVAL_LINE t3 ON t1.APPROVAL_ID = t3.APPROVAL_ID
			WHERE t1.APPROVAL_STATUS = 'ST05' 
			AND t1.APPROVAL_ID IN (SELECT APPROVAL_ID
					FROM APPROVAL_LINE 
					WHERE APPROVER_EMPNO = '1505001' AND t3.STATUS_ID = 'ST05')
    </select>
</mapper>
