<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.giga.gw.repository.ApprovalLineDaoImpl">
	<insert id="insertApprovalLines" parameterType="map">
		INSERT INTO APPROVAL_LINE(LINE_ID, APPROVAL_ID, "SEQUENCE", STATUS_ID,
		APPROVER_EMPNO)
		SELECT APPROVALLINE_SEQ.NEXTVAL, A.* FROM (
		<choose>
			<when test="approvalLineDtos != null and approvalLineDtos.size() > 0">
				<foreach collection="approvalLineDtos" item="item" index="i" separator=" UNION ALL ">
					SELECT #{item.approval_id} , #{i} , 'ST02' , #{item.approver_empno, jdbcType=NUMERIC} FROM DUAL
				</foreach>
			</when>
			<otherwise>
				SELECT #{approval_id} , '1' ,'ST02' , #{approver_empno} FROM DUAL
			</otherwise>
		</choose>
		) A
	</insert>
	
	<insert id="insertApprovalLine">
		INSERT INTO APPROVAL_LINE(LINE_ID, APPROVAL_ID, "SEQUENCE", STATUS_ID,
		APPROVER_EMPNO)
		SELECT APPROVALLINE_SEQ.NEXTVAL, A.* FROM (
				SELECT #{approval_id} , '1' ,'ST02' , #{approver_empno} FROM DUAL
		) A
	</insert>
	
	<update id="acceptApprovalLine">
		UPDATE APPROVAL_LINE 
		SET STATUS_ID = 'ST04', APPROVAL_TIME = CURRENT_DATE
		WHERE APPROVAL_ID = (SELECT APPROVAL_ID FROM APPROVAL a 
				WHERE a.APPROVAL_ID = #{approval_id} 
				AND APPROVAL_STATUS = 'ST02')
		AND APPROVER_EMPNO = #{empno}
	</update>
	
	<update id="rejectApprovalLine">
		UPDATE APPROVAL_LINE 
		SET STATUS_ID = 'ST05', APPROVAL_TIME = CURRENT_DATE
		<if test="#{reject_reason} != null">
		,REJECT_REASON = #{reject_reason}
		</if>
		WHERE APPROVAL_ID = (SELECT APPROVAL_ID FROM APPROVAL a 
				WHERE a.APPROVAL_ID = #{approval_id} 
				AND APPROVAL_STATUS = 'ST02')
		AND APPROVER_EMPNO = #{empno}
	</update>
	
</mapper>
