<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.giga.gw.repository.CalendarDaoImpl">
    <!-- 캘린더 저장 -->
<insert id="scheduleSave" parameterType="map">
INSERT INTO SCHEDULE (
    SCH_ID, EMPNO, SCH_TITLE, SCH_STARTDATE, SCH_ENDDATE, SCH_COLOR
) VALUES (
    SCH_ID_SEQ.NEXTVAL, #{empno}, #{sch_title}, #{sch_startdate}, #{sch_enddate}, #{sch_color}
)

</insert>

<select id="loadSchedule" parameterType="map" resultType="map">
    SELECT 
        SCH_TITLE AS sch_title,
        SCH_STARTDATE AS sch_startdate,
        SCH_ENDDATE AS sch_enddate,
        SCH_COLOR AS sch_color
    FROM SCHEDULE
</select>

    <!-- 개인 일정 조회 -->
    <select id="loadEmpSchedule" parameterType="string" resultType="map">
SELECT
    s.EMPNO,
    e.NAME,
    SCH_ID,
    SCH_TITLE,
    SCH_STARTDATE,
    SCH_ENDDATE,
    SCH_COLOR
FROM
    SCHEDULE s  
JOIN
    EMPLOYEES e ON s.EMPNO = e.EMPNO 
WHERE 
	EMPNO = #{empno} AND s.USE_YN ='Y'
    </select>

    <!-- 부서 일정 조회 -->
    <select id="loadDeptSchedule" parameterType="string" resultType="map">
SELECT
    s.EMPNO,
    e.NAME,
    SCH_ID,
    SCH_TITLE,
    SCH_STARTDATE,
    SCH_ENDDATE,
    SCH_COLOR
FROM
    SCHEDULE s  
JOIN
    EMPLOYEES e ON s.EMPNO = e.EMPNO 
WHERE
     DEPTNO = #{deptno} s.USE_YN ='Y'
    </select>

    <!-- 전체 일정 조회 -->
    <select id="loadAllSchedule" resultType="map">
SELECT
    s.EMPNO,
    e.NAME,
    SCH_ID,
    SCH_TITLE,
    SCH_STARTDATE,
    SCH_ENDDATE,
    SCH_COLOR
FROM
    SCHEDULE s  
JOIN
    EMPLOYEES e ON s.EMPNO = e.EMPNO 
WHERE
	s.USE_YN ='Y'
    </select>
    
    
    <!-- 일정삭제 -->
    <update id="deleteSchedule">
    	UPDATE SCHEDULE
		SET UPDATE_EMPNO=#{empno}, UPDATE_DATE=CURRENT_DATE, USE_YN='N' 
		WHERE SCH_ID=#{sch_id}
	</update>


</mapper>
