<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.giga.gw.repository.DeptManagementImpl">
  
  <!-- 부서 등록 -->
  <insert id="insertDepartment">
	INSERT INTO DEPARTMENTS
	(DEPTNO, DEPTNAME, PARENT_DEPTNO,
	USE_YN, CREATE_DATE, CREATE_EMP)
		VALUES(#{deptno}, #{DEPTNAME}, #{PARENT_DEPTNO}, 'Y',
		TO_DATE(TO_CHAR(SYSDATE, 'YY-MM-DD')), #{create_emp})
  </insert>
  
  <!-- 부서 수정 -->
  <update id="updateDepartment">
  	UPDATE DEPARTMENTS
  	<set>
  		<if test="deptname != null and deptname != ''">
  			DEPTNAME = #{deptname}
  		</if>
  		<if test="parent_deptno != null and parent_deptno != ''">
  			PARENT_DEPTNO = #{parent_deptno}
  		</if>
  		UPDATE_DATE=TO_DATE(TO_CHAR(SYSDATE, 'YY-MM-DD')), UPDATE_EMP=#{update_emp}
  	</set>
		WHERE DEPTNO=#{deptno}
  </update>
  
  <!-- 부서 삭제 -->
  <update id="deleteDepartment">
  UPDATE DEPARTMENTS
	SET USE_YN='N', UPDATE_DATE=TO_DATE(TO_CHAR(SYSDATE, 'YY-MM-DD')), UPDATE_EMP=#{update_emp}
	WHERE DEPTNO=#{deptno}
  </update>
  
  <!-- 부서 삭제 (사원 상태 업데이트) -->
  <update id="deleteDepartmentEmployee">
  	UPDATE EMPLOYEES 
		SET DEPTNO = NULL
		WHERE DEPTNO IN (
		    SELECT DEPTNO 
		    	FROM DEPARTMENTS d 
		    	WHERE USE_YN = 'N')
  </update>
  
  <!-- 부서 전체 조회 -->
  <select id="getAllDept" resultType="DepartmentDto">
	SELECT d1.DEPTNO, d1.DEPTNAME, d2.DEPTNAME AS PARENT_DEPTNAME
		FROM DEPARTMENTS d1 LEFT JOIN DEPARTMENTS d2 
		ON d1.PARENT_DEPTNO = d2.DEPTNO 
		START WITH d1.PARENT_DEPTNO IS NULL
		CONNECT BY PRIOR d1.DEPTNO = d1.PARENT_DEPTNO
		AND d1.USE_YN = 'Y'
		ORDER SIBLINGS BY d1.DEPTNO
  </select>
  
  <!-- 부서 상세 조회 -->
  <select id="selectDepartment" resultType="DepartmentDto">
 	
  </select>
  
  <!-- 부서 검색 -->
  <select id="getSearchDept" resultType="DepartmentDto">
  SELECT d1.DEPTNO, d1.DEPTNAME, d2.DEPTNAME AS PARENT_DEPTNAME
	FROM DEPARTMENTS d1 LEFT JOIN DEPARTMENTS d2 
	ON d1.PARENT_DEPTNO = d2.DEPTNO 
	WHERE d1.DEPTNO = 'D01'
  </select>
 
  
  <!-- 삭제된 부서 조회 -->
  <select id="getDeletedDept" resultType="DepartmentDto">
  	SELECT DEPTNO, DEPTNAME, PARENT_DEPTNO, USE_YN, CREATE_DATE, UPDATE_DATE, CREATE_EMP, UPDATE_EMP
		FROM DEPARTMENTS
		WHERE USE_YN = 'N'
  </select>
  
  
</mapper>














