<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.giga.gw.repository.LoginDaoImpl">
<select id="login" resultType="employeeDto">
  SELECT EMPNO,
	DEPTNO,
	(SELECT DEPTNAME FROM DEPARTMENTS d WHERE DEPTNO = e.DEPTNO) DEPTNAME , 
	(SELECT JOB_TITLE FROM JOBS j WHERE JOB_ID = e.JOB_ID) JOB_TITLE , 
	JOB_ID,
	NAME,
	EMAIL,
	PHONE,
	TEL,
	HIREDATE,
	BIRTHDAY,
	GENDER,
	SCHOOL,
	MAJOR_CODE,
	DEGREE,
	ADRESS,
	AUTH,
	CREATE_DATE,
	CREATE_EMP,
	UPDATE_DATE,
	UPDATE_EMP,
	USE_YN 
	FROM EMPLOYEES e
	WHERE EMPNO = #{empno}
	AND PASSWORD = #{password}
</select>

<!-- 사원번호 찾기 -->
	<select id="findEmpnoByNameAndEmail" parameterType="map" resultType="String">
		SELECT EMPNO FROM EMPLOYEES e WHERE NAME = #{name} AND EMAIL =#{email} 
	</select>
</mapper>
